<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">Bienvenido a Comic App</h1>
    <p class="lead">Esta es una aplicación de comic, la cual mostrará los comics en venta</p>
    <hr class="my-4">
    <p>Precione acá para mas información</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver más</a>
</div>