<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

    <div class="card text-center animated fadeIn fast" *ngFor="let heroe of heroes">
        <img [src]=" heroe.img " class="card-img-top" [alt]="heroe.nombre">
        <div class="card-block">
            <h4 class="card-title">{{ heroe.nombre }}</h4>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Ver mas ...
            </button>
        </div>
    </div>

</div>