/* You can add global styles to this file, and also import other style files */

.main-container {
    margin-top: 20px;
}

body {
    padding-bottom: 50px;
}


/*footer*/

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


/*Animaciones css*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}