<h1 class="animated fadeIn fast">Esta es una aplicación donde se venderan comics antiguos</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, dignissimos corrupti dicta in quisquam sed aut porro facere ex, unde fugiat harum repudiandae nisi ratione eligendi aspernatur a cupiditate molestias.</p>